<%= image_tag @photo.filename %>

<h1>Edit Photo</h1>

<%= form_for @photo do |form| %>
	<%= form.label :filename %>
	<%= form.file_field :filename %><br />

	<%= form.label :caption %>
	<%= form.text_area :caption %><br />
	<%= form.submit 'Save' %>
<% end %>